/* popup.css */

body {
    background-color: #222121; /* Dark gray background color */
    color: rgb(219, 219, 219); /* White text color */
    font-family: Arial, sans-serif;
    padding: 10px;
  }
  
  h2 {
    font-size: 12px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  