/* popup.css */

body {
    background-color: #222121; /* Dark gray background color */
    color: rgb(219, 219, 219); /* White text color */
    font-family: Arial, sans-serif;
    padding: 10px;
}

html {
    width: 200px
}

h2 {
    font-size: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffc0cb;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
  